<nav>
  <ul class="nowrap">
    <li>
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        href="/search"
        [ngClass]="{ 'active-link': path == 'search' }"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Search
      </a>
    </li>
    <li>
      <a class="nav-link" routerLink="/companies" routerLinkActive="active-link"
        >Company</a
      >
    </li>
  </ul>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
